fastapi
uvicorn
chromadb
llama-index[all]>=0.10.0
pypdf
requests
python-multipart
transformers
sentence-transformers
llama-index-embeddings-huggingface
llama-index-llms-ollama
pydub
audioop-lts
faster-whisper
